<h1>Bienvenue sur BookSaw !</h1>

<p>
	Merci de votre inscription. Pour activer votre compte, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.<br>
	Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Bonne lecture !<br>L'équipe BookSaw
</p>
