<form method="get" action="{{ path('categorie_liste') }}" class="form-row align-items-center mb-4">
    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            <input type="text" name="search" class="form-control" placeholder="Nom de la catégorie" value="{{ app.request.get('search') }}" style="width: 250px; height: 35px; border-radius: 5px;">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary rounded" style="width: 150px;">RECHERCHER</button>
        </div>
    </div>
</form>
